.container {
    margin-top: 20px;
}

.contact-form {
    border: #1da58c;
    border-style: ridge;
    padding: 20px;
    background-color: white;
}

.aboutPic {
    width: 200px;
    float: left;
}

@media screen and (max-width: 701px) {
    .contact-form {
        margin: 20px 0;
    }
    
}


