.aboutPic {
    width: 200px;
    float: left;
}

.btn {
    margin-top: 20px;
    background-color: #1da58c;
    border-color: #1da58c;
}

ul {
    list-style-type: none;
    text-align: left;
}

/* modifications for specific sizings */
@media screen and (max-width: 701px) {
    .contact-form {
        margin: 20px 0;
    }
    
}


