body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("./IMG_9248\ 2.jpeg");
}

#navbarNav {
    /* padding-left: 20px; */
    margin: 0;
    padding: 0;

}

.nav-link {
    margin-left: 50px;
    text-align: right;
    padding: 20px
    
}


.navbar {
    padding: 0; /*remove padding on nav bar*/
}

.box {
    background-color: #1da58c;
    margin-left: 3rem;
    /* padding: 10px; */
}

hr {
    width: 100%;
    border-width: 3px;
    border-color: #1da58c;
}

h1 {
    color: white;
    text-align: center;
    margin: 10px;
    padding: 0;
    /* padding-left: 15px; */
}

.fullsheet {
    margin-top: 20px;
    border: #1da58c;
    border-style: ridge;
    padding: 20px;
    background-color: white;
}

h2 {
    color:#1da58c;
    text-align: left;
    background-attachment: fixed;
}


/* the contact link */
.contact {
    padding-right: 100px;
}

@media screen and (min-width: 992px) {
    .box {
        display: flex;
        justify-content: center;
        padding: 0;
        
    }
}

@media screen and (max-width: 992px) {
     /* override for alignment */
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 701px) {
    /* name box */
    .box {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    /* all links */
    .ml-auto {
        margin-left: 0;
        width: 100%;
    }

    /* override class margin */
    .nav-link {
        margin-left: 0;
    }
    
    /* override class for spacing */
    .navbar-nav {
        display: flex;
        justify-content: space-evenly;        
    }
    
    /* contact link */
    .contact {
        padding-right: 0;        

    }
}

footer {
    text-align: center;
}