body {
    
}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbarNav {
    /* padding-left: 20px; */
    margin: 0;
    padding: 0;

}
.nav-link {
    margin-left: 50px;
    text-align: right;
    padding: 20px
    
}

.contact {
    padding-right: 100px;
}

.navbar {
    padding: 0; /*remove padding on nav bar*/
}

.box {
    background-color: #1da58c;
    /* padding: 10px; */
}

h1 {
    color: white;
    text-align: center;
    padding-left: 15px;
}

.cr {
    
}

.contact-form {
    border: #1da58c;
    border-style: ridge;
    padding: 20px;
    margin: 20px 200px;
}

footer {
    text-align: center;
}